  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color{
    background-color: rgb(247, 185, 70);
}
.main-logo img{
    width: 100%;
    height: auto;
}
/* start menu */
.menu{
    background-color: rgb(119, 125, 123);
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
    .menu ul{
        list-style-type: none;
        display: flex;
    }
        .menu ul li{
            margin-right: 24px;
        }
            .menu svg{
                width: 30px;
                fill: black;
            }

/* ends menu */
/* start-product-show */

.product-show{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 7%;

}
    .product-show div.product-show-one img{
        width: 50%;
        height: auto;
        grid-area: quesos;
        

    }
        .product-show div.product-show-two img{
            width: 50%;
            height: auto;
            grid-area: bebidas;
            
        }
            .product-show div.product-show-three img{
                width: 50%;
                height: auto;
                grid-area: panes;
                
            }
                .product-show div.product-show-four img{
                    width: 50%;
                    height: auto;
                    grid-area: vino;
                    
                }
                    .product-show div.product-show-five img{
                        width: 50%;
                        height: auto;
                        grid-area: friambres;
                        
                    }
                        .product-show div.product-show-six img{
                            width: 50%;
                            height: auto;
                            grid-area: snack;
                            
                        }

/* ends-product-show */
/* stars selected-products */

h2.text-productos{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 18px;
}
.selected-products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}

.selected-products .coca-cola img{
    width: 35%;
    height: auto;
}
    .selected-products .quesos-cubos img{
        width: 35%;
        height: auto;
    }
        .selected-products .fernet img{
            width: 35%;
            height: auto;
        }
            .selected-products .vino img{
                width: 35%;
                height: auto;
            }
                .selected-products .panes img{
                    width: 35%;
                    height: auto;
                }

/* ends selected-products */
/* start form */
main section h1{
    font-size: 24px;
    margin: 25px;
    padding: 16px;
    text-decoration: underline;
}
    main section form ul{
        list-style-type: none;
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
    }
        main section form ul li{
            margin: 5px;
            padding: 2px;
        }
            form input{
                font-size: 19px;
            }
                main section form ul li label.email{
                    margin-right: 22px;
                }

/* ends form */
/* start us */
   h1{
    font-size: 24px;
    text-decoration: underline;
    margin: 10px;
    padding: 12px;
   }
    div.text-us{
        margin: 10px;
        padding: 10px;
        font-size: 18px;
    }
        h2.schedule{
            font-size: 24px;
            text-decoration: underline;
            margin: 10px;
            padding: 10px;
            margin-left: 70%;

        }
            table.table{
                font-size: 24px;
                margin-left: 70%;
            }
/* ends us */
/* start form account registration */
h1.title-acc{
    font-size: 24px;
    text-decoration: underline;
}
    form ul li div.first-form{
        font-size: 24px;
        padding: 10px;
        margin: 12px;
    }
        form ul li div.second-form{
            font-size: 24px;
            padding: 10px;
            margin: 12px;
        }
            form ul li div.third-form{
                font-size: 24px;
                padding: 10px;
                margin: 12px;
            }
/* ends form account registration */
/* start product */
.main-store .action-store .buscar{
    color: black;
    padding: 6px;
    margin: 4px;
    border: none;
    border-radius: 3px;
}
    .main-store .action-store .carrito{
        color: black;
        padding: 6px;
        margin: 4px;
        border: none;
        border-radius: 3px;
    }
        .main-store ul li a{
            text-decoration: none;
            }
                .main-store ul li a:hover{
                    color: black;
                }
.main-store .figure-shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "one" "tow" "three"
    "four" "five" ".";
}                
    .pick-one{
        grid-area: "one";
         
    }
        .pick-two{
            grid-area: "two";
        }
            .pick-three{
                grid-area: "three";
            }
                .pick-four{
                    grid-area: "four";
                }
                    .pick-five{
                        grid-area: "five";
                    }
.pick-one img{
    width: 70%;
    height: auto;
}
    .pick-two img{
        width: 70%;
        height: auto;
    }
        .pick-three img{
            width: 19rem;
            height: auto;
        }
            .pick-four img{
                width: 70%;
                height: auto;
            }
                .pick-five img{
                    width: 70%;
                    height: auto;
                }
/* ends product */