h1{
    font-size: $xl;
    text-decoration: underline;
    margin: 10px;
    padding: 12px;
   }
    .text-us{
        margin: 10px;
        padding: 10px;
        font-size: $md;
    }
.logo-local img{
    width: 60%;
    height: auto;
    margin-left: 4rem;
}
