.main-store .action-store .buscar{
    color: black;
    padding: 6px;
    margin: 4px;
    border: none;
    border-radius: 3px;
    .action-store .carrito{
        color: black;
        padding: 6px;
        margin: 4px;
        border: none;
        border-radius: 3px;
    }
    ul li a{
    text-decoration: none;
    }
    a:hover{
        color: blue;
    }
    }