h1.title-acc{
    font-size: 24px;
    text-decoration: underline;
    form div.first-form{
        font-size: $regular;
        padding: 10px;
        margin: 12px;
    }
    div.second-form{
        font-size: $regular;
        padding: 10px;
        margin: 12px;
    }
    div.third-form{
            font-size: $regular;
            padding: 10px;
            margin: 12px;
        }
    
        }